<!DOCTYPE html>
<html>
  <head>
    <title>Plans</title>
    <%- include('common/header') -%>
  </head>
  <body>
    <%- include('common/nav') -%>

    <div class="main-container">
      <h1>Our plans</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% plans.forEach(function(plan) { %>
            <tr>
              <td><%= plan.name %></td>
              <td><%= plan.price %></td>
              <td><%= plan.description %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <%- include('common/footer') -%>

  </body>
</html>
